<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServiceHelpers" type="DontPanic.Helpers.ServiceHelpersConfigSection, DontPanic.ServiceHelpers" allowDefinition="Everywhere" allowLocation="true" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <ServiceHelpers enableInProc="false" maskErrors="false" catchNonWcfFaults="false" logger="">
    <inproc>
      <!-- Managers -->
      <endpoint contract="SpikeResearch.Contracts.Managers.IGitHubManager" implementation="SpikeResearch.Managers.GitHubManager, SpikeResearch.Managers" wcf="false" />
      <endpoint contract="SpikeResearch.Contracts.Managers.IGoogleDocsManager" implementation="SpikeResearch.Managers.GoogleDocsManager, SpikeResearch.Managers" wcf="false" />
      <!-- Accessors -->
      <endpoint contract="SpikeResearch.Contracts.Accessors.IGitHubAccessor" implementation="SpikeResearch.Accessors.GitHubAccessor, SpikeResearch.Accessors" wcf="false" />
      <endpoint contract="SpikeResearch.Contracts.Accessors.IGoogleDocsAccessor" implementation="SpikeResearch.Accessors.GoogleDocsAccessor, SpikeResearch.Accessors" wcf="false" />
    </inproc>
  </ServiceHelpers>
</configuration>